In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,Normalizer,MaxAbsScaler,MinMaxScaler,RobustScaler
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [2]:
df = pd.read_csv('iris.data',header=None)

In [3]:
df.shape

(150, 5)

In [4]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [5]:
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [6]:
df.dtypes

0    float64
1    float64
2    float64
3    float64
4     object
dtype: object

In [7]:
df.describe()

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [8]:
x = df.drop(labels=4, axis=1).values
y = df[4].values

print(x.shape, y.shape)

((150L, 4L), (150L,))

In [9]:
X_treino, X_teste, Y_treino, Y_teste = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [10]:
X_treino.dtype

dtype('float64')

In [11]:
Y_treino.dtype

dtype('O')

In [12]:
corr = pd.concat([X_treino,Y_treino],axis=1).corr()

TypeError: cannot concatenate object of type "<type 'numpy.ndarray'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

In [13]:
transformer = Normalizer().fit(x)

In [14]:
transformer

Normalizer(copy=True, norm='l2')

In [15]:
x_treino_normalize = pd.DataFrame(Normalizer().fit_transform(X_treino))

In [16]:
x_treino_normalize.describe().round(3)

             0        1        2        3
count  120.000  120.000  120.000  120.000
mean     0.751    0.407    0.454    0.140
std      0.044    0.106    0.160    0.078
min      0.654    0.260    0.168    0.015
25%      0.715    0.327    0.250    0.048
50%      0.755    0.354    0.535    0.164
75%      0.787    0.534    0.583    0.196
max      0.861    0.607    0.637    0.280

In [17]:
x_teste_normalize = pd.DataFrame(Normalizer().fit_transform(X_teste))

In [18]:
x_teste_normalize.describe().round(3)

            0       1       2       3
count  30.000  30.000  30.000  30.000
mean    0.754   0.396   0.459   0.145
std     0.046   0.103   0.160   0.081
min     0.686   0.238   0.195   0.017
25%     0.716   0.324   0.259   0.054
50%     0.748   0.353   0.542   0.170
75%     0.797   0.517   0.571   0.211
max     0.827   0.581   0.633   0.248

In [19]:
modelo = gnb.fit(x_treino_normalize, Y_treino)

In [20]:
modelo1 = gnb.fit(x_teste_normalize,Y_teste)

In [21]:
predict = modelo.predict(x_treino_normalize)

In [22]:
predict1 = modelo1.predict(x_teste_normalize)

In [23]:
predict.dtype

dtype('S15')

In [24]:
predict1.dtype

dtype('S15')